################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/dist
/sandia_pymdt.egg-info
/pymdt/__pycache__
/Funding Sources.txt
/pymdt.pyproj.user
